# Dev URL
NEXT_PUBLIC_URL=http://localhost:3000
INTERNAL_BACKEND_URL=http://localhost:4000
NEXT_PUBLIC_BACKEND_URL=http://localhost:4000

# Owner Secret
PRIVATE_SECRET_KEY=your_private_secret_key_here
NEXT_PUBLIC_OWNER_BEARER_TOKEN=your_owner_bearer_token_here

# GitHub
GH_TOKEN=your_github_token_here
