rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contents/{slug} {
      allow read, create, update: if true;
    }

    match /guestbook/{guestbookId} {
      allow read, create, delete: if true;
    }
  }
}
