@use 'nprogress';
@use 'table';
@use 'mdx';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --primary: 17 24 39; /* gray-900 */
    --secondary: 31 41 55; /* gray-800 */
    --muted: 75 85 99; /* gray-600 */
    --border: 209 213 219; /* gray-300 */
    --muted-background: 243 244 246; /* gray-100 */
    --accent-foreground: 156 163 175; /* gray-400 */
  }

  .dark {
    --background: 0 0 0;
    --foreground: 255 255 255;
    --primary: 243 244 246; /* gray-100 */
    --secondary: 229 231 235; /* gray-200 */
    --muted: 156 163 175; /* gray-400 */
    --border: 55 65 81; /* gray-700 */
    --muted-background: 17 24 39; /* gray-900 */
    --accent-foreground: 75 85 99; /* gray-600 */
  }

  /* 
    Big refactor for global styles completed:
    Utilizing CSS variables to handle light/dark mode changes seamlessly.
  */

  html {
    // ! use important as a workaround for nextjs@13.1.0 bug that prevents smooth scroll
    // * remove it when the bug is fixed
    scroll-behavior: smooth !important;
  }

  body {
    @apply bg-background font-inter text-foreground transition-colors;
  }

  main {
    @apply layout md:pt-12;
  }

  ::selection {
    @apply bg-accent-main text-white;
  }
}

@layer components {
  .layout {
    @apply mx-auto max-w-6xl px-6;
  }

  .card-layout {
    @apply grid grid-cols-[repeat(auto-fill,minmax(320px,1fr))] gap-4;
  }

  .custom-button {
    @apply px-4 py-2 font-bold;
  }

  .main-border {
    @apply border border-border;
  }

  .custom-input {
    @apply main-border rounded-md bg-background px-3 py-2 outline-none transition focus:border-accent-main;
  }

  .smooth-tab {
    @apply rounded-md transition-shadow focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-accent-main;
  }

  .clickable {
    @apply smooth-tab main-border rounded-md shadow-sm transition hover:scale-[1.03] hover:shadow-md active:scale-[0.97];

    &:focus-visible {
      @apply scale-[1.03] shadow-md;
    }
  }

  .gradient-title {
    @apply bg-gradient-to-r from-accent-start to-accent-end bg-clip-text text-transparent;
  }

  .gradient-background {
    @apply bg-gradient-to-r from-accent-start to-accent-end;
  }

  .custom-underline {
    @apply underline decoration-transparent outline-none transition [text-decoration-thickness:1px] hover:decoration-inherit focus-visible:decoration-inherit;
  }

  .animated-underline {
    background-size: 0 2px;
    background-position: 0 100%;

    @apply bg-gradient-to-r from-accent-start to-accent-end bg-no-repeat pb-0.5 no-underline outline-none transition-all duration-300;

    &.with-dots {
      @apply border-b border-dotted border-foreground;
    }

    &:hover,
    &:focus-visible,
    &:has(+ div:hover),
    .project-card:hover &,
    .project-card:focus-visible & {
      background-size: 100% 2px;

      &.with-dots {
        @apply border-transparent;
      }
    }
  }
}
